body {
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  line-height: 1.8em;
  color: #05386B;
  font-weight: 300;
  background: #ffffff; }

hr {
  margin-left: 60px;
  margin-right: 60px; }

.left {
  background: linear-gradient(rgba(55,150,131,.4), rgba(92,219,149,.4),
  rgba(142,228,175,.4), rgba(237,245,225,.4)), url('img/left.jpg')
  no-repeat;
  background-size: cover;
}

.right {
  background-color: #5CDB95;
  box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.23);
}

/* --------------------------------------
 * Global Typography
 *------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  color: #C0B283; }

h1 {
  font-size: 26px;
  line-height: 1.8em;
  font-weight: 700;
  color: #05386B; }

h2 {
  font-size: 22px;
  line-height: 1.8em;
  font-weight: 700; }

h3 {
  font-size: 20px;
  line-height: 1.8em;
  font-weight: 500; }

h4 {
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 500; }

h5 {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500; }

h6 {
  font-size: 15px;
  line-height: 1.5em; }

/* --------------------------------------
 * LINK STYLE
 *------------------------------------------*/
a {
  color: #2a54f5;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
  outline: none; }

a:hover,
a:focus {
  text-decoration: none;
  color: #2a54f5; }

p {
  margin-bottom: 10px;
  font-size: 25px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* --------------------
 * Column Block
 * -------------------*/
.columns-block {
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.blocks {
  box-sizing: border-box; }

.left-col-block {
  width: 50%;
  text-align: center;
  left: 0; }

.right-col-block {
  width: 50%;
  right: 0;
  box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.23); }

@media (max-width: 768px) {
  .left-col-block {
    width: 100%;
    position: relative; }
  .right-col-block {
    width: 100%;
    position: relative;
    box-shadow: none; } }

/* --------------------
 *  main Wrapper
 * -------------------*/
#main-wrapper {
  background: #EDF5E1; }

/*-------------------
 * Section Wrapper
 *-------------------*/
.section-wrapper {
  padding: 50px; }

@media (max-width: 480px) {
  .section-wrapper {
    padding: 30px 20px; } }

/*---------------------------
* Section Title
*---------------------------*/
.section-title {
    margin-bottom: 15px; }

.section-title-cream h1 {
    margin-bottom: 5px;
    color: #EDF5E1;
    font-size: 42px;
    text-transform: uppercase; }

.section-subtitle-cream h2 {
    margin-bottom: 5px;
    color: #EDF5E1;
    font-size: 32px;
    text-transform: uppercase; }

.section-title-blue h1 {
    margin-bottom: 5px;
    color: #05386B;
    font-size: 42px;
    text-transform: uppercase; }

.section-p p {
  color: #05386B
}

.section-cream {
    background-color: #EDF5E1; }

.section-blue {
    background-color: #05386B; }

.section-green {
    background-color: #5CDB95; }

/*-----------------------------
 * Header
 *-------------------------------*/
.header {
  padding: 0;
  margin: 0;
  height: 100vh;
  position: relative; }

.header .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.header .content h1 {
  font-size: 36px;
  line-height: 1;
  margin: 0; }

.header .content p {
  font-size: 22px;
  color: #05386B; }

@media (max-width: 480px) {
  .header .content p {
    font-size: 18px; } }

.header .content .social-icon {
  margin: 0;
  padding-top: 1rem;;
  display: block;
  }

.header .content .social-icon li {
  display: inline-block;
  margin: 0 8px; }

.header .content .social-icon li a {
  display: block;
  font-size: 28px;
  color: #05386B;
  background-color: #5CDB95;
  width: 48px;
  height: 48px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.3); }

.header .content .social-icon li a:hover {
  border-color: #373737; }

.profile-img {
  width: 400px;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-bottom: 30px; }

@media (max-width: 810px) {
  .profile-img {
    width: 350px; } }

@media (max-width: 480px) {
  .profile-img {
    width: 300px; } }

/*-------------------
 * Portfolio
 *-------------------*/

  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #58916E;
  }

  .hovereffect .overlay h2 {
    font-size: 16px;
    color: #EDF5E1; }

  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px; }

  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); }

  .hovereffect h2 {
    text-transform: uppercase;
    color: #EDF5E1;
    text-align: center;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent; }

  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #05386B;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0); }

  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); }

  .hovereffect a, .hovereffect p {
    color: #05386B;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0); }

  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); }

/* --------------------------------------------
 *   Footer
 *---------------------------------------------- */

.footer {
  padding: 30px 50px; }

  .footer .social-icon {
    margin: 0;
    padding-top: 1rem;;
    display: block;
    }

  .footer .social-icon li {
    display: inline-block;
    margin: 0 8px; }

  .footer .social-icon li a {
    display: block;
    font-size: 28px;
    color: #05386B;
    background-color: #5CDB95;
    width: 48px;
    height: 48px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.3); }

  .footer .social-icon li a:hover {
    border-color: #373737; }

@media (max-width: 480px) {
  .footer {
    padding: 10px 20px;
  }
}
