// Variable Overrides
$body-bg: #ededed;

body, html {
  height: 100%;
}

@media (min-width: 576px){
  #left {
      position: fixed;
      top: 0;
      bottom: 0;
  }
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
